body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#markcb {
  /* display: none; */
  background: rgba(0, 0, 0, 0);
  content: url('../public/mark.png');
  z-index: 100;
  width: 30px;
  height: 30px;
  border: none;
  margin: 0;
}
#markcb:checked {
  background: rgba(0, 0, 0, 0);
  content: url('../public/marked.png');
}
#likecb {
  /* display: none; */
  background: rgba(0, 0, 0, 0);
  content: url('../public/like.png');
  z-index: 100;
  width: 30px;
  height: 30px;
  border: none;
  padding-left: 0;
  margin: 0 10px 0 0;
}
#likecb:checked {
  background: rgba(0, 0, 0, 0);
  content: url('../public/liked.png');
}
.scrolling {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.scrolling .typeCard {
  flex: 0 0 auto;
}
.navbar {
  height: 50px !important;
}
